<div id="custom_minicart" class="custom-minicart-container custom-minicart-container-hide">
    <h1 class="cart-title ">Shopping Cart</h1>
    <!-- <div class="empty-cart-msg">Your Shopping Cart is empty</div> -->
    <div id="custom_minicart_container">
        <h1 class="custom_minicart_product-title">wandering forest</h1>
        <img class="custom-minicart-list-img"
            src="//cdn.shopify.com/s/files/1/0550/8605/5502/products/1024x1024-Men-President-BlackMatte-LB1_36b80244-495d-4c0f-b166-3e5646099774.jpg?v=1641306595">
    </div>
</div>